table {
  width: 100%;
}


.table-card {
  margin: 0 auto;
  max-width: 600px;
}

.mat-table {
  margin-top: 16px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

mat-spinner {
  margin-top: 16px;
}

